# configuration file for the analysis pipeline

######################################################
# general settings
######################################################
general:
  image_dir: "../examples/input"
  analysis_name: "sample_analysis"
  analysis_dir: "../examples//output"
  log_dir: null # => ${analysis_dir}/logs

######################################################
# roi definition
######################################################
roi_definition:
  detection_image: "sample_1.0.4_R000_DAPI__FINAL_F.tiff"
  roi_info_file_path: null # => ${analysis_dir}/rois.pkl
  im_level: 6

######################################################
# roi cutting
######################################################
roi_cutting:
  roi_dir_tif: null # => ${analysis_dir}/rois
  roi_dir_output: null # => ${analysis_dir}/temp
  ignore_markers:
    - bCat
  roi_cleanup_enabled: True

######################################################
# segmentation
######################################################

additional_elements:

# add pre-processed images (category: 'image_enhancer')
  - category: image_enhancer
    type: normalize
    input: [DAPI, NaKATPase]
    output: "${input}_norm"
    parameters:
      low: 1
      high: 99.8
    keep: false

# segmentation (category: 'object_segmenter')
  - category: object_segmenter
    type: instanseg
    parameters:
      model: fluorescence_nuclei_and_cells
      pixel_size: 0.3
      resolve_cell_and_nucleus: true
      cleanup_fragments: true
      clean_cache: true
      normalise: false
    input:
      - DAPI_norm
      - NaKATPase_norm
    output:
      - instanseg_nucleus
      - instanseg_cell
    keep: true

#----------------------------------------------
  - category: mask_builder
    type: ring
    input:
        - instanseg_nucleus
    output: ring
    parameters:
      rad_bigger: 8
      rad_smaller: 2
    keep: true
#----------------------------------------------
  - category: mask_builder
    type: subtract
    input:
      - instanseg_cell
      - instanseg_nucleus
    output: cytoplasm
    keep: true

######################################################
# qc
######################################################

qc:
  prefix: qc_exclude

######################################################
# quantification
######################################################

quant:
  - name: instanseg_table
    masks:
      nucleus: instanseg_nucleus
      cell: instanseg_cell
      ring: ring
      cyto: cytoplasm
    layer_connection: instanseg_cell
    qc_to_layer: True

######################################################
# storage settings
######################################################

sdata_storage:
  chunk_size: [1, 512, 512]
  max_pyramid_level: 3
  downscale: 2
